## ==========================================================================
## Xilinx User Constraint File (UCF)
## ==========================================================================
##	Board:		Xilinx - Virtex 5 ML506
##	FPGA:		Xilinx Virtex 5
##		Device:		XC5VSX50T
##		Package:	FF1136
##		Speedgrade:	-1
## ==========================================================================
CONFIG PART = XC5VSX50T-FF1136-1;
CONFIG STEPPING = "ES";
