## =============================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================
##	Board:					Xilinx - Zynq 7020 ZedBoard
##	FPGA:						Xilinx Zynq 7000
##		Device:				XC7Z020
##		Package:			CLG484
##		Speedgrade:		-1
##
## =============================================================================
## Miscellaneous
## =============================================================================
CONFIG PART = XC7Z020-CLG484-1;
