*.tpl		-whitespace
*.md		-whitespace
*.rst		-whitespace
*.ini		-whitespace
*.pl	filter=normalize
*.ps1	filter=normalize
*.psm1	filter=normalize
*.py	filter=normalize
*.sh	filter=normalize
*.rst	filter=normalize_rest
*.vhdl	filter=normalize_vhdl
*.ucf		filter=normalize
*.xcf		filter=normalize
*.ldc		filter=normalize
*.sdc		filter=normalize
*.xdc		filter=normalize
