# general file excludes
~*.tmp
~*.docx
*~
*.o
~$*

# ignore Python caches
__pycache__

# ignore build directories
/docs/_build/
/docs/PyInfrastructure/*
!/docs/PyInfrastructure/.gitempty
!/docs/PyInfrastructure/index.rst


# ignore files in netlist/
/netlist/
!/netlist/configuration.ini
!/netlist/netlist.ps1
!/netlist/netlist.sh
!/netlist/template.cgc

# ignore folders
/docs/_build/
/py/Wrapper/Hooks/*
!/py/Wrapper/Hooks/README.md
/temp/*
!/temp/.*
!/temp/*.*
/temp/precompiled/*
!/temp/precompiled/.*

# ignore files from PoC
/py/config.private.ini
/tb/common/my_project.vhdl

# ignore external tool files: ActiveHDL, QuestaSim
/prj/ActiveHDL/*
/prj/ActiveHDL/*.*
/prj/ActiveHDL/**/*.*
!/prj/ActiveHDL/PoC.adf
!/prj/ActiveHDL/PoC.wsp

/prj/Diamond/*.*
/prj/Diamond/*/*
/prj/Diamond/**/*.*
!/prj/Diamond/**/*.lpf
!/prj/Diamond/*.ldf
!/prj/Diamond/*.sty
!/prj/Diamond/*.vhdl

/prj/QuestaSim/*
/prj/QuestaSim/*.*
/prj/QuestaSim/**/*.*
!/prj/QuestaSim/PoC.mpf

# ignore Lattice Diamond files
other/diamond/._Real_._Math_.vhd
other/diamond/.spread_sheet.ini
other/diamond/.spreadsheet_view.ini
/other/diamond/*/**/*
/other/diamond/*.xml
/other/diamond/*.html
!/other/diamond/*/**/*.lpf
!/other/diamond/*/**/*.ldc
!/other/diamond/*/**/*.vhdl

# ignore Xilinx ISE files
/other/ise/**/*.*
/other/ise/**/ise
!/other/ise/**/*.xise
!/other/ise/**/*.xpr
!/other/ise/**/iseconfig/filter.filter
!/other/ise/**/*.qpf
!/other/ise/**/*.qsf

# ignore Quartus files
/other/quartus/**/*.*
/other/quartus/**/db/
/other/quartus/**/incremental_db/
/other/quartus/**/output_files/
/other/quartus/**/simulation/
/other/quartus/**/greybox_tmp/
!/other/quartus/**/*.qpf
!/other/quartus/**/*.qsf
!/other/quartus/**/*.vhdl

#ignore Vivado files
/other/vivado/**/*.cache
/other/vivado/**/*.hw
/other/vivado/**/*.runs
/other/vivado/**/*.sim
/other/vivado/**/*.ip_user_files

# general whitelist
!.git*
!.publish
!README.md
