[submodule "lib/vunit"]
	path = lib/vunit
	url = https://github.com/VLSI-EDA/vunit.git
[submodule "lib/osvvm"]
	path = lib/osvvm
	url = https://github.com/VLSI-EDA/OSVVM.git
[submodule "lib/cocotb"]
	path = lib/cocotb
	url = https://github.com/VLSI-EDA/cocotb.git
[submodule "docs/_themes/sphinx_rtd_theme"]
	path = docs/_themes/sphinx_rtd_theme
	url = https://github.com/VLSI-EDA/sphinx_rtd_theme.git
[submodule "lib/uvvm"]
	path = lib/uvvm
	url = https://github.com/VLSI-EDA/UVVM_All.git
[submodule "lib/pyIPCMI"]
	path = lib/pyIPCMI
	url = gitlab.plc2.de:GitHub/PLC2/pyIPCMI.git
