temp/
netlist/
py/__pycache__/
py/config.private.ini
tb/common/my_project.vhdl
vSim/
other/quartus/*/db/
other/quartus/*/incremental_db/
other/quartus/*/output_files/
other/quartus/*/simulation/
other/quartus/*/*.rpt
other/quartus/*/*.qws
other/quartus/*/*.bak
*.pyc
*~
*.o
