# general file excludes
~*.tmp
~*.docx
*~
*.o
~$*

# ignore Python caches
__pycache__

# ignore files in netlist/
/netlist/
!/netlist/configuration.ini
!/netlist/netlist.ps1
!/netlist/netlist.sh
!/netlist/template.cgc

# ignore folders
/temp/
/vSim/

# ignore files from PoC
/py/config.private.ini
/tb/common/my_project.vhdl

# ignore Quartus files
/other/quartus/*/
!/other/quartus/*/*.qpf
!/other/quartus/*/*.qsf
!/other/quartus/*/*.vhdl

# general whitelist
!.publish
!.git*
