[submodule "lib/vunit"]
	path = lib/vunit
	url = https://github.com/VLSI-EDA/vunit.git
[submodule "lib/osvvm"]
	path = lib/osvvm
	url = https://github.com/VLSI-EDA/OSVVM.git

[submodule "lib/cocotb"]
	path = lib/cocotb
	url = https://github.com/VLSI-EDA/cocotb.git
