## ==========================================================================
## Xilinx User Constraint File (UCF)
## ==========================================================================
##	Board:		Xilinx - Virtex 5 XUPV5
##	FPGA:		Xilinx Virtex 5
##		Device:		XC5VLX110T
##		Package:	FF1136
##		Speedgrade:	-1
## ==========================================================================
CONFIG PART = XC5VLX110T-FFG1136-1;
