## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Fan Control
## -----------------------------------------------------------------------------
##	Bank:						9
##		VCCO:					2.5V (VADJ_FPGA)
##	Location:				J61, Q1 (NDT3055L)
## -----------------------------------------------------------------------------
NET "ZC706_FanControl_PWM"							LOC =  "AB19";			## {OUT}		Q1.Gate; external 1k pullup resistor; Q1.Drain connects to J61.1 (GND)
NET "ZC706_FanControl_Tacho"						LOC =  "AA19";			## {IN}			J61.3; voltage limited by D2 (MM3Z2V7B; 2.7V zener-diode)
NET "ZC706_FanControl_*"								IOSTANDARD = LVCMOS25;

## Ignore timings on async I/O pins
NET "ZC706_FanControl_*"								TIG;
