## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Special Buttons
## -----------------------------------------------------------------------------
##	Bank:						34
##		VCCO:					1.5V (VCC1V5_FPGA)
##	Location:				SW13
## -----------------------------------------------------------------------------
NET "ZC706_GPIO_Button_CPU_Reset"				LOC =  "A8"	| IOSTANDARD = LVCMOS15;			## {IN}		SW13; high-active; external 1k pulldown resistor

## Ignore timings on async I/O pins
NET "ZC706_GPIO_Button_CPU_Reset"				TIG;
