## =============================================================================================================================================================
## Peripheral Modules (Pmods)
## =============================================================================================================================================================
##
## Pmod Port 1 (2x6 pins)
## -----------------------------------------------------------------------------
##	Bank:						10, 11
##		VCCO:					2.5V (VADJ)
##	Location:				J58
##	LevelShifted:		by U40 (TXS0108E) to 3.3V VCC3V3
## -----------------------------------------------------------------------------
NET "ZC706_PMOD_Port1<0>"					LOC = "AJ21";			## {INOUT}	Bank11	J58.1
NET "ZC706_PMOD_Port1<1>"					LOC = "AK21";			## {INOUT}	Bank11	J58.3
NET "ZC706_PMOD_Port1<2>"					LOC = "AB21";			## {INOUT}	Bank11	J58.5
NET "ZC706_PMOD_Port1<3>"					LOC = "AB16";			## {INOUT}	Bank10	J58.6
NET "ZC706_PMOD_Port1<4>"					LOC =  "Y20";			## {INOUT}	Bank9		J58.2
NET "ZC706_PMOD_Port1<5>"					LOC = "AA20";			## {INOUT}	Bank9		J58.4
NET "ZC706_PMOD_Port1<6>"					LOC = "AC18";			## {INOUT}	Bank9		J58.6
NET "ZC706_PMOD_Port1<7>"					LOC = "AC19";			## {INOUT}	Bank9		J58.8
NET "ZC706_PMOD_Port1<?>"					IOSTANDARD = LVCMOS25;
