## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Cursor Buttons
## -----------------------------------------------------------------------------
##	Bank:						18, 33, 34
##		VCCO:					2.5V, 1.5V, 1.5V (VADJ_FPGA, VCC1V5_FPGA, VCC1V5_FPGA)
##	Location:				SW2, SW3, SW4, SW5, SW6
## -----------------------------------------------------------------------------
NET "KC705_GPIO_Button_North"						LOC = "AA12"	| IOSTANDARD = LVCMOS15;			## {IN}		SW2; high-active; external 4k7 pulldown resistor; Bank 33; VCCO=VCC1V5_FPGA
NET "KC705_GPIO_Button_West"						LOC =  "AC6"	| IOSTANDARD = LVCMOS15;			## {IN}		SW6; high-active; external 4k7 pulldown resistor; Bank 34; VCCO=VCC1V5_FPGA
NET "KC705_GPIO_Button_Center"					LOC =  "G12"	| IOSTANDARD = LVCMOS25;			## {IN}		SW5; high-active; external 4k7 pulldown resistor; Bank 18; VCCO=VADJ_FPGA
NET "KC705_GPIO_Button_East"						LOC =  "AG5"	| IOSTANDARD = LVCMOS15;			## {IN}		SW3; high-active; external 4k7 pulldown resistor; Bank 34; VCCO=VCC1V5_FPGA
NET "KC705_GPIO_Button_South"						LOC = "AB12"	| IOSTANDARD = LVCMOS15;			## {IN}		SW4; high-active; external 4k7 pulldown resistor; Bank 33; VCCO=VCC1V5_FPGA

# Ignore timings on async I/O pins
NET "KC705_GPIO_Button_*"								TIG;
