## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Fan Control
## -----------------------------------------------------------------------------
##	Bank:						14, 15
##		VCCO:					2.5V, 2.5V (VCC2V5_FPGA, VCC2V5_FPGA)
##	Location:				J61, Q17 (NDT3055L)
## -----------------------------------------------------------------------------
NET "KC705_FanControl_PWM"							LOC =  "L26";			## {OUT}		Q17.Gate; external 1k pullup resistor; Q17.Drain connects to J61.1 (GND)
NET "KC705_FanControl_Tacho"						LOC =  "U22";			## {IN}			J61.3; voltage limited by D15 (MM3Z2V7B; 2.7V zener-diode)
NET "KC705_FanControl_*"								IOSTANDARD = LVCMOS25;

# Ignore timings on async I/O pins
NET "KC705_FanControl_*"								TIG;
