## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## GPIO SMA
## -----------------------------------------------------------------------------
##	Bank:						12
##		VCCO:					2.5V (VADJ_FPGA)
##	Location:				J13, J14
NET "KC705_GPIO_SMA_n"									LOC =  "Y24" | IOSTANDARD = LVDS_25;				## {INOUT}	J14
NET "KC705_GPIO_SMA_p"									LOC =  "Y23" | IOSTANDARD = LVDS_25;				## {INOUT}	J13
