##
## Transceiver - SMA interface
## -----------------------------------------------------------------------------
##	Bank:						117
##		Quad117:		 
##			RefClock0		
##			RefClock1		KC705_SMA_RefClock (see separate file "Transceiver.SMA_RefClock.ucf)
##
##		Placement:
##			SMA:				Quad117.Channel0 (GTXE2_CHANNEL_X0Y8)
##		Location:
##			RefClock:		J15, J16
##			Lane:				J17, J66, J19, J20
##
## SMA LVDS signal-pairs
## --------------------------
NET "KC705_SMA_TX_n"														LOC = "K1";													## {OUT}	J20
NET "KC705_SMA_TX_p"														LOC = "K2";													## {OUT}	J19
NET "KC705_SMA_RX_n"														LOC = "K5";													## {IN}		J66; external 0.01 uF decoupling capacitor
NET "KC705_SMA_RX_p"														LOC = "K6";													## {IN}		J17; external 0.01 uF decoupling capacitor
