## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 6 ML605
##	FPGA:						Xilinx Virtex 6
##		Device:				XC6VLX240T
##		Package:			FF1156
##		Speedgrade:		-1
## =============================================================================================================================================================
## Low Speed Bus
## =============================================================================================================================================================
##
## PowerManagementBus (PMBus)
## =============================================================================
##		Bank:						15
##			VCCO:					1,8V (VCC1V8_FPGA)
##		Location:				
##			Vendor:				
##			Device:				
##NET "VC707_PMBus_Clock"						LOC = "AW37" | IOSTANDARD = LVCMOS18; ## 
##NET "VC707_PMBus_Data"						LOC = "AY39" | IOSTANDARD = LVCMOS18; ## 
##NET "VC707_PMBus_Alert"						LOC = "AV38" | IOSTANDARD = LVCMOS18; ## 
