## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 6 ML605
##	FPGA:						Xilinx Virtex 6
##		Device:				XC6VLX240T
##		Package:			FF1156
##		Speedgrade:		-1
## =============================================================================================================================================================
## Ethernet PHY - Marvell Alaska Ultra
## =============================================================================================================================================================
##	Bank:						33
##		VCCO:					2,5V (VCC2V5_FPGA)
##	Location:				U80
##		Vendor:				Marvell
##		Device:				M88E1111 -
##		MDIO-Address:	0x05 (---0 0111b)
##		I²C-Address:	I²C management mode is not enabled
##
## SGMII LVDS signal-pairs
## --------------------------
##	Bank:						116
##	Transceiver:
##		Location:
##	ReferenceClock
##		Location:			U82 (ICS844021I_TSSOP8)
##		Vendor:
##		Device:				ICS844021I
##		Frequency:		125 MHz
NET "ML605_EthernetPHY_RefClock_125MHz_p"				LOC = "H6";														## {IN}			U82.7
NET "ML605_EthernetPHY_RefClock_125MHz_n"				LOC = "H5";														## {IN}			U82.6
NET "ML605_EthernetPHY_SGMII_TX_p"							LOC = "A3";														## {OUT}		U80.113
NET "ML605_EthernetPHY_SGMII_TX_n"							LOC = "A4";														## {OUT}		U80.112
NET "ML605_EthernetPHY_SGMII_RX_p"							LOC = "B5";														## {IN}			U80.107
NET "ML605_EthernetPHY_SGMII_RX_n"							LOC = "B6";														## {IN}			U80.105
