## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 6 ML605
##	FPGA:						Xilinx Virtex 6
##		Device:				XC6VLX240T
##		Package:			FF1156
##		Speedgrade:		-1
## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Fan Control
## =============================================================================
##	Bank:						34
##		VCCO:					2.5V (VCC2V5_FPGA)
##	Location:				J59, Q24 (NDT3055L)
## -----------------------------------------------------------------------------
NET "ML605_FanControl_PWM"					LOC = "L10";						## {OUT}		Q24.Gate; external 10k pullup resistor; Q24.Drain connects to J59.1 (GND)
NET "ML605_FanControl_Tacho"				LOC = "M10";						## {IN}			J59.3; voltage limited by D16 (1N4148)
NET "ML605_FanControl_*"						IOSTANDARD = LVCMOS25;	##

## Ignore timings on async I/O pins
NET "ML605_FanControl_*"						TIG;
