## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 6 ML605
##	FPGA:						Xilinx Virtex 6
##		Device:				XC6VLX240T
##		Package:			FF1156
##		Speedgrade:		-1
## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## LEDs
## =============================================================================
##	Bank:						15
##		VCCO:					1,8V (VCC1V8_FPGA)
##	Location:				DS12, DS11, DS9, DS10, DS15, DS14, DS22, DS21
## -----------------------------------------------------------------------------
NET "ML605_GPIO_LED<0>"									LOC = "AC22";						## DS12
NET "ML605_GPIO_LED<1>"									LOC = "AC24";						## DS11
NET "ML605_GPIO_LED<2>"									LOC = "AE22";						## DS9
NET "ML605_GPIO_LED<3>"									LOC = "AE23";						## DS10
NET "ML605_GPIO_LED<4>"									LOC = "AB23";						## DS15
NET "ML605_GPIO_LED<5>"									LOC = "AG23";						## DS14
NET "ML605_GPIO_LED<6>"									LOC = "AE24";						## DS22
NET "ML605_GPIO_LED<7>"									LOC = "AD24";						## DS21
NET "ML605_GPIO_LED<?>"									IOSTANDARD = LVCMOS18;	## 

## Ignore timings on async I/O pins
NET "ML605_GPIO_LED<?>"									TIG;
