## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 6 ML605
##	FPGA:						Xilinx Virtex 6
##		Device:				XC6VLX240T
##		Package:			FF1156
##		Speedgrade:		-1
## =============================================================================================================================================================
## High Speed I/O (Transceiver)
## =============================================================================================================================================================
##
## Transceiver - SMA interface
## =============================================================================
##	Bank:						113
##	ReferenceClock
##		Location:			J25, J26
NET "VC707_SMA_RefClock_n"											LOC = "AK7";													## J26
NET "VC707_SMA_RefClock_p"											LOC = "AK8";													## J25
