## =============================================================================================================================================================
## Clocks
## =============================================================================================================================================================
##
## System Clock
## =============================================================================
##		Bank:						38
##			VCCO:					1.5V (VCC1V5_FPGA)
##		Location:				U51 (SIT9102)
##			Vendor:				SiTime
##			Device:				SiT9102 - 1 to 220 MHz High Performance Oscillator
##			Frequency:		200 MHz, 50ppm
NET "VC707_SystemClock_200MHz_n"				LOC = "E18" | IOSTANDARD = LVDS;	## U51.5
NET "VC707_SystemClock_200MHz_p"				LOC = "E19" | IOSTANDARD = LVDS;	## U51.4
