##
## Fan Control
## =============================================================================
##	Bank:						15
##		VCCO:					1,8V (VCC1V8_FPGA)
##	Location:				J48, Q1
## -----------------------------------------------------------------------------
NET "VC707_FanControl_PWM"							LOC = "BA37"	| IOSTANDARD = LVCMOS18;			## Q1.Gate; external 1k pullup resistor
NET "VC707_FanControl_Tacho"						LOC = "BB37"	| IOSTANDARD = LVCMOS18;			## J48 - Pin 3; voltage limited by D2 (DDZ9678 - 1.8V zener-diode)
