## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Rotary-Button
## =============================================================================
##	Bank:						13
##		VCCO:					1,8V (VCC1V8_FPGA)
##	Location:				SW10
## -----------------------------------------------------------------------------
NET "VC707_GPIO_Rotary_Button"					LOC = "AW31";			## SW10.5; high-active; external 4k7 pulldown resistor
NET "VC707_GPIO_Rotary_IncA"						LOC = "AR33";			## SW10.1; high-active; external 4k7 pulldown resistor
NET "VC707_GPIO_Rotary_IncB"						LOC = "AT31";			## SW10.6; high-active; external 4k7 pulldown resistor
NET "VC707_GPIO_Rotary_*"								IOSTANDARD = LVCMOS18;

## Ignore timings on async I/O pins
NET "VC707_GPIO_Rotary_*"								TIG;
