## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## GPIO SMA
## -----------------------------------------------------------------------------
##	Bank:						13
##		VCCO:					1.8V (VCC1V8_FPGA)
##	Location:				J33, J34
NET "VC707_GPIO_SMA_p"									LOC =  "AN31";				## {INOUT}	J33
NET "VC707_GPIO_SMA_n"									LOC =  "AP31";				## {INOUT}	J34
NET "VC707_GPIO_SMA_?"									IOSTANDARD = LVDS;
