## Transceiver - SMA interface
## =============================================================================
##	Bank:						113
##	ReferenceClock (see Transceiver.SMA_RefClock.ucf)

## SMA LVDS signal-pairs
## --------------------------
##	Bank:						113
##	Location:				P27, J28, J29, J30
NET "VC707_SMA_TX_p"														LOC = "AP4";													## J29
NET "VC707_SMA_TX_n"														LOC = "AP3";													## J30
NET "VC707_SMA_RX_p"														LOC = "AN6";													## J27
NET "VC707_SMA_RX_n"														LOC = "AN5";													## J28
