## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					ZTEX - v2.04 - Spartan-6 LX16
##	FPGA:						Xilinx Spartan-6
##		Device:				XC6SLX16
##		Package:   FTG256
##		Speedgrade:		-2
##
##	Notes:
##		VCCB2 (Bank2) is defaulted to 2.5V (choices: 2.5V, 3.3V) by jumper JP12
##
## =============================================================================================================================================================
## Miscellaneous
## =============================================================================================================================================================
CONFIG PART = XC6SLX16-FTG256-2;
