## =============================================================================================================================================================
## Clock Sources
## =============================================================================================================================================================
##
## System Clock
## -----------------------------------------------------------------------------
##		Bank:						1
##			VCCO:					3.3V (VCC3V3)
##		Location:				IC12 (SG8002JF)
##			Vendor:				Seiko Epson
##			Device:				SG8002JF - Crystal Oscillator 1 to 125 MHz
##			Frequency:		100 MHz, 100ppm
NET "Atlys_SystemClock_100MHz"				LOC = "L15";						## {IN}		IC12.3
NET "Atlys_SystemClock_100MHz"				IOSTANDARD = LVCMOS33;
NET "Atlys_SystemClock_100MHz"				TNM_NET = "PIN_SystemClock_100MHz";

TIMESPEC "TS_SystemClock"					= PERIOD "PIN_SystemClock_100MHz"		100 MHz	HIGH 50 %;		# 100 MHz oscillator (50%/50% duty-cycle)
