## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Digilent - Atlys - Spartan-6 LX45
##	FPGA:						Xilinx Spartan-6
##		Device:				XC6SLX45
##		Package:			CSG324
##		Speedgrade:		-3
##	
##	Notes:
##		VCCB2 (Bank2) is defaulted to 2.5V (choices: 2.5V, 3.3V) by jumper JP12
##
## =============================================================================================================================================================
## Miscellaneous
## =============================================================================================================================================================
CONFIG PART = XC6LX45-CSG324-3;
