##
## USB UART
## -----------------------------------------------------------------------------
##	Bank:						0
##		VCCO:					3.3V (VCC3V3)
##	Location:				IC7
##		Vendor:				EXAR
##		Device:				XR21V1410L16
##		Baud-Rate:		300 Bd - 12 MBd
##	Note:						FPGA is the master, USB-UART is the slave => so TX is an output and RX an input
NET "Atlys_USB_UART_TX"						LOC = "B16" ;						## {OUT}			IC7.10	{IN}
NET "Atlys_USB_UART_RX"						LOC = "A16" ;						## {IN}				IC7.9		{OUT}
NET "Atlys_USB_UART_?X"						IOSTANDARD = LVCMOS33;

## Ignore timings on async I/O pins
NET "Atlys_USB_UART_?X"						TIG;
