##
## PS2-Bus - Keyboard
## =============================================================================
##	Bank:							15
##		VCCO:						1.8V (VCC1V8)
## -----------------------------------------------------------------------------
NET "ML505_PS2_Keyboard_SerialClock"			LOC = "T26";						## external 4k7 pullup resistor
NET "ML505_PS2_Keyboard_SerialData"				LOC = "T25";						## external 4k7 pullup resistor
NET "ML505_PS2_Keyboard_*"								IOSTANDARD = LVCMOS18;
