## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 5 ML505
##	FPGA:						Xilinx Virtex 5
##		Device:				XC5VLX50T
##		Package:			FF1136
##		Speedgrade:		-1
## =============================================================================================================================================================
## Miscellaneous
## =============================================================================================================================================================
CONFIG PART = XC5VLX50T-FFG1136-1;
CONFIG STEPPING = "ES";
