##
## LEDs
## =============================================================================
##	Bank:						12
##		VCCO:					3.3V (VCC1V8_FPGA)
##	Location:				DS5, DS6
## -----------------------------------------------------------------------------
NET "ML505_GPIO_LED_Error<0>"						LOC = "F6";							## DS6
NET "ML505_GPIO_LED_Error<1>"						LOC = "T10";						## DS5
NET "ML505_GPIO_LED_Error<?>"						IOSTANDARD = LVCMOS33;
NET "ML505_GPIO_LED_Error<?>"						SLEW = SLOW;
