##
## Special Buttons
## =============================================================================
##	Bank:						20
##		VCCO:					3.3V (VCC3V3_FPGA)
##	Location:				SW7
## -----------------------------------------------------------------------------
NET "ML505_GPIO_Button_CPU_Reset_n"							LOC = "E9"	| IOSTANDARD = LVCMOS33;			## {IN}			low-active; external 4k7 pullup resistor

## Ignore timings on async I/O pins
NET "ML505_GPIO_Button_CPU_Reset_n"							TIG;
