## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Digilent - Nexys4DDR - Artix-7 XC7A100
##	FPGA:						Xilinx Artix-7
##		Device:           XC7A100T
##		Package:			   CSG324
##		Speedgrade:		   -1
##
##	Notes:
##    t.b.d.
##
## =============================================================================================================================================================
## Miscellaneous
## =============================================================================================================================================================
CONFIG PART = XC7A100T-CSG324-1;
